{layout name="layout" /}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <style>
        h1 {
            color: black;
        }
        .jumbotron{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="jumbotron" style="background-color: #D3D3D3;">
        <h1>欢迎进入锦龙驾校前台信息管理系统</h1>
        <div class="container">
        </div>
    </div>
    
</body>

</html>