{layout name="layout" /}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editCoach</title>
    <style>
        .h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="h1"><h1>编辑教练信息</h1></div>
    
    <div class="box-content">
        <form role="form" action="http://www.zhouyf.com/updateCoach" method="post">
            <input type="hidden" name="coachId" value="{$data.coachId}">
            <div class="form-group">
                <label for="exampleInputName">学员姓名</label>
                <input type="text" class="form-control" id="coachname" name="coachname" value="{$data.coachname}">
            </div>
            <div class="form-group">
                <label for="exampleInputPhone">电话</label>
                <input type="text" class="form-control" id="phone" name="phone" value="{$data.phone}">
            </div>
            <div class="form-group">
                <label for="exampleInputAddress">家庭住址</label>
                <input type="text" class="form-control" id="address" name="address" value="{$data.address}">
            </div>
           
            <button type="submit" class="btn btn-default submit">点击提交</button>
           
           
        </form> <a href="http://www.zhouyf.com/lookCoach"><button class="btn btn-default back">取消操作</button></a>

    </div>
</body>
</html>