{layout name="layout" /}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;"><h1>{$data.coachname}教练详细信息</h1></div>
    
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
                <!-- <div class="alert alert-info">For help with such table please check <a href="http://datatables.net/" target="_blank">http://datatables.net/</a></div> -->
                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                    <thead>
                        <tr>
                            <th>教练编号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>电话</th>
                            <th>入职日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{$data.coachId}</td>
                            <td>{$data.coachname}</td>
                            <td class="center">{$data.sex}</td>
                            <td class="center">{$data.phone}</td>
                            <td class="center">
                                <span class="label-success label label-default">{$data.create_time}</span>
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>家庭住址</th>
                            <th>最新信息更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">{$data.address}</td>
                            <td class="center">
                                <span class="label-success label label-default">{$data.update_time}</span>
                            </td>
                            <td class="center"><a class="btn btn-info" href="http://www.zhouyf.com/lookCoach">
                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                返回
                            </a></td>
                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</body>
</html>